<section class="container">
  <h2 class="titulo">Transferências</h2>
  <table class="tabela">
    <thead class="tabela__cabecalho">
      <th class="tabela__cabecalho__conteudo">Data</th>
      <th class="tabela__cabecalho__conteudo">Valor</th>
      <th class="tabela__cabecalho__conteudo">Destino</th>
    </thead>
    <!-- tag ngIf serve como um IF -->
    <tbody *ngIf="transferencias?.length > 0; else listaVazia">
      <!-- *ngFor é a diretiva que tem a função do FOR -->
      <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
        <!-- a notação {{propriedade-da-classe}} serve para acessar diretamente o valor da propriedade da classe -->
        <td class="tabela__conteudo">
          {{ transferencia.data | date: "short" }}
        </td>
        <!-- procurar por DatePipe na doc do Angular e locale_id -->
        <td class="tabela__conteudo">{{ transferencia.valor | currency }}</td>
        <td class="tabela__conteudo">{{ transferencia.destino }}</td>
      </tr>
    </tbody>
  </table>

  <!-- ng-template será o conteúdo que substituirá o tbody caso o ngIf não seja atendido -->
  <ng-template #listaVazia>
    <p>Nenhuma transferência cadastrada</p>
  </ng-template>
</section>
